page-jogos {
    ion-label.label.label-md {
        text-align: center;
    }
    .titulo-time {
        font-size: 20px;
        margin: 20px 0;
    }
    .segment-md .segment-button {
        color: #fff;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #fff; 
    }
    
}
