page-elenco-detalhes {
    .sombra {
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

  
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.5em;
          position: absolute;
          top: 45%;
          width: 100%;
          color: #fff;
        }

        .card-subtitle2 {
            font-size: 1.3em;
            position: absolute;
            top: 62%;
            width: 100%;
            color: #fff;
          }

          .card-subtitle3 {
            font-size: 1.3em;
            position: absolute;
            top: 72%;
            width: 100%;
            color: #fff;
          }
      
      }
}
